@model IEnumerable<LimpiaMAS.Models.TbDetalleservicio>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head></head>
    <body>
        @foreach (var detalle in Model)
        {
            <form asp-action="Carrito" method="post">
                <label>Dentro de lista</label>
                <label>@detalle.IdDetserv</label>
                <label>@detalle.NomapeLim</label>
                <label>@detalle.NomapeCli</label>
                <label>@detalle.DirCli</label>
                <label>@detalle.CatServ</label>
                <label>@detalle.FecServ.ToString("dd/MM/yyyy")</label>
                <label>@detalle.DurServ</label>
                <label>@detalle.ImpServ</label>
                <label>@detalle.HoraDetserv</label>
                <a asp-action="Eliminar" asp-route-id="@detalle.IdDetserv">Eliminar</a>
                <a asp-action="Index">Regresar</a>
            </form>
        }
    <a asp-action="Pago">Pagar</a>
    </body>
</html>