@model LimpiaMAS.Models.TbServicio

@{
    Layout = null;
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>LimpiaMAS</title>
    </head>
    <body>
        <!--siempre que entres al carrito deberas completar el item-->
        <form asp-action="Carrito_grabado" method="post">
            <!--datos para pasar al controlador-->
            <input type="hidden" name="nomApeLimp"  value="@ViewBag.NombreApellidoLimpiador" />
            <input type="hidden" name="nomApeCli" value="@ViewBag.NombreApellidoCliente" />
            <input type="hidden" asp-for="Guidserv" value="@ViewBag.GUID" />
            <input type="hidden" asp-for="CatServ" value="@ViewBag.CategoriaServicio" />
            <input type="hidden" asp-for="PreServ" value="@ViewBag.Tarifa" />
            <input type="hidden" name="dirCli" value="@ViewBag.DireccionCliente" />
            <input type="hidden" asp-for="FecServ" value="@ViewBag.FechaServicio" />
            <input type="hidden" asp-for="IdCli" value="@ViewBag.IdCli" />
            <label>@ViewBag.IdCLi</label><br />
            <label>@ViewBag.NombreApellidoLimpiador</label><br />
            <label>@ViewBag.NombreApellidoCliente</label><br />
            <label>@ViewBag.DireccionCliente</label><br />
            <label>@ViewBag.CategoriaServicio</label><br />
            <label>@ViewBag.FechaServicio.ToString("dd/MM/yyyy")</label>
            <input name="area" placeholder="Ingrese el area en m^2 del lugar a limpiar" required />
            <label>Ingrese la hora para el servicio: </label>
            <select asp-for="HoraServ">
                @foreach (var opcion in ViewBag.OpcionesTiempo)
                {
                    <option>@opcion</option>
                }
            </select>
            <input type="submit" value="grabar" style="border: none; background: none; color: black; font-weight: bold; font-size:18px; cursor: pointer;" readonly />
            <a asp-action="Index">Regresar</a>
            <!--<a asp-action="Eliminar" asp-route-id="">Eliminar</a>-->
        </form>
    </body>
</html>